.dashboard{
  display: flex;
  flex-direction: column;
}
.dashboardBody{
  display: flex;
  flex-direction: row;
}
.header{
  width: 100%;
  text-align: center;
  height: 70px;
  background-color: antiquewhite;
}
.kidList{
  width: 25%;
}
.kidInfo{
  width:75%;
  background-color: rgb(241, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kidHeader{
  align-self: flex-start;
  margin-left:20px;
}
.kidHeader h3{
  margin-bottom:0px;
}
.kidHeader p{
  margin-top: -15px;
  font-size: .8em;
}
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.popup-background {
  background-color: rgba(0, 0, 0, .6);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}

.popup-content {
  height: 60%;
  width: 55%;
  opacity: 1;
  border-radius: 5px;
  background-color: #052225;
  border: 1px solid #328cc1;
  color: #e3e3e3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 580px;
  min-width: 300px;
}